doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title About Us - Daycare School
    // Bootstrap CSS
    link(
      crossorigin="anonymous" 
      integrity="sha384-piwMl9V+3S3brU3YdwzF4Zn5sDI3p/KcN+kW6r/DfP0ltzcjfaiG4xkz28JtFhJd" 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      )
    link(
      href="/about us/Us.css" 
      rel="stylesheet"
      )
    // Bootstrap JS
    script(
      crossorigin="anonymous" 
      integrity="sha384-nt4KoPdJcT2jqvjaUqA92GHpC+txrSTtxKhU2BHSZegf/Y8v+nH3uB2U1VddD3jB" 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      ).
    link(rel="stylesheet", href="/css/Us.css")  
      
  body
    header
    main.container.mt-5
      .row
        .col-md-6
          h2 Welcome to Daycare School
          p
            | We provide high-quality daycare services for children of all ages. Our experienced staff creates a safe and nurturing environment where children can learn, play, and grow.
          p
            | At Daycare School, we believe in the importance of early childhood education. Our curriculum is designed to stimulate cognitive, social, and emotional development, preparing children for success in school and beyond.
        
    // Footer
footer.footer.mt-5
  .container
    .row.align-items-center
      .col-md-4
        h4.mb-3.mb-md-0 About Us
        p.mb-0
          | Day Star Daycare provides safety, education, stimulation, and socialization. Contact us to learn more about our institution.
      .col-md-2
        h4.mb-3.mb-md-0 Resources
        ul.list-unstyled.mb-0
          li.mb-1
            a(href="#") Blogs
          li.mb-1
            a(href="#") Testimonials
          li.mb-1
            a(href="#") Careers
          li.mb-1
            a(href="#") FAQs
      .col-md-2
        h4.mb-3.mb-md-0 Contact Us
        ul.list-unstyled.mb-0
          li.mb-1 +1 (123) 456-7890
          li.mb-1 daystar@example.com
      .col-md-4
        h4.mb-3.mb-md-0 Follow Us
        ul.list-inline.mb-0.social-links
          li.list-inline-item.mr-3
            a(href='https://www.facebook.com/InternationalSchoolsDatabase/')
              i.bi.bi-facebook
          li.list-inline-item.mr-3
            a(href='#')
              i.bi.bi-whatsapp
          li.list-inline-item.mr-3
            a(href='https://www.instagram.com/intschoolsdatabase/')
              i.bi.bi-instagram
          li.list-inline-item
            a(href='https://twitter.com/i/flow/login?redirect_after_login=%2FIntSchoolsDB')
              i.bi.bi-twitter
